<!DOCTYPE html>
<%/*
	Expects variables:
		friends - an array of user objects to populate the initial list
					(it is expected that this is the start of the friends list)
		offset - the offset of the current view
		maxcount - the maxcount of the current view
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/friend-list/friend-list.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/friend-list/friend-list.js'
			]
		}) %>
</head>
<body>
	<div class="friend-list-partial">
		<%	if (friends.length == 0) { %>
			<div class="alert alert-warning">
				<div>No friends? Search for people you know <a href="/friends/search">here</a>!</div>
			</div>
		<% } else { %>
			<%  for (var i in friends) { %>
				<div class="user-tile-outer pull-left">
					<%- partial('partials/user-tile.ejs', {
							user: friends[i],
							check_if_friends: false
						}) %>
				</div>
			<% } %>
			<% if (friends.length == maxcount) { %>
				<!-- TODO: load more friends feature -->
			<% } %>
		<% } %>
	</div>
</body>
</html>
