<!DOCTYPE html>
<%/*
	Expects variables:
		requests - an array of user objects to populate the initial list
					(it is expected that this is the start of the friends list)
		offset - the offset of the current view
		maxcount - the maxcount of the current view
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/friend-request-list/friend-request-list.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/friend-request-list/friend-request-list.js'
			]
		}) %>
</head>
<body>
	<div class="friend-request-list-partial">
		<%	if (requests.length == 0) { %>
			<div class="alert alert-warning">
				<div>No pending friend requests to worry about.
					 Go to your <a href="/groups">groups</a>!</div>
			</div>
		<% } else { %>
			<%  for (var i in requests) { %>
				<div class="friend-request-tile-outer">
					<%- partial('partials/user-tile.ejs', {
							user: requests[i],
							alert_class: "alert-warning",
							friend_status: "incoming"
						}) %>
				</div>
			<% } %>
			<% if (requests.length == maxcount) { %>
				<!-- TODO: load more requests feature -->
			<% } %>
		<% } %>
	</div>
</body>
</html>
