<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/notification-num/notification-num.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/notification-num/notification-num.js'
			]
		}) %>
</head>
<body>
	<span class="notification-num label">?</span>
</body>
</html>
