<!DOCTYPE html>
<%/*
	Expects variables:
		post - the post object
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/post-tile.css'
			],
			scripts: []
		}) %>
</head>
<body>
	<div class="post-tile-partial row-fluid <% if (!post.poster) { %>system<% } %>">
		<div class="column poster-column span3">
			<% if (post.poster) { %>
				<div class="poster nowrap">
					<img src="/api/users/picture/get?username=<%= post.poster %>?type=small">
					<%= post.poster %>
				</div>
			<% } %>
		</div>
		<div class="column content-column span8">
			<div class="content">
				<%= post.content %>
			</div>
		</div>
	</div>
</body>
</html>
