<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/topbar.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/lib/bootstrap/js/bootstrap.min.js'
			]
		}) %>
</head>
<body>
	<div class="topbar-partial">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- topbar content -->
					<a class="brand" href="/">
						<%= process.env.APP_NAME %>
					</a>
					<% if (user) { %>
						<ul class="nav">
							<li><a href="/">
								<span class="notification-num label label-important">6</span>
								Notifications
							</a></li>
						</ul>
					<% } %>

					<% if (user) { %>
						<ul class="nav pull-right">
							<%/* TODO figure out how to make image part of the dropdown */%>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle user-name nowrap"
											data-toggle="dropdown">
									<b class="caret"></b>
									<%= user.name.full %>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/settings">Account settings</a></li>
									<li><a href="/feedback">Send feedback</a></li>
									<% if (user_app_permissions.devtools) { %>
										<li class="divider"></li>
										<li><a href="/devtools/cmdline">Command line</a></li>
										<li><a href="/devtools/sqlqueryer">SQL Queryer</a></li>
										<li><a href="/devtools/appdoc">App docs</a></li>
									<% } %>
									<li class="divider"></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</li>
							<li>
								<img class="profile-picture" src="/api/users/me/picture?type=square">
							</li>
						</ul>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
