<!DOCTYPE html>
<html>
<head>
	<title><%= process.env.APP_NAME %> - App docs</title>
	<link href="public/images/favicon_01.png" rel="shortcut icon">
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css'
			],
			scripts: []
		}) %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<!-- header of the documentation -->
		<div class="row-fluid">
			<h1>App documentation</h1>
			<label>
				This documentation covers everything from the dependencies of the app,
				to setup of the environment, to implementation of the API, database and
				sessions, to the API documentation itself.
			</label>
		</div>

		<!-- Table of contents -->
		<div class="row-fluid">
			<h2>Table of Contents</h2>
			<ul class="nav">
				<li><a href="#">Section 1</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
