.user-tile-partial .user-tile {
	min-height: 40px;
	margin-right: 12px;
	margin-bottom: 12px;
}

.user-tile-partial .user-tile img {
	max-height: 40px;
	vertical-align: text-top;
	margin-right: 8px;
	border: solid 1px #999999;
}
.user-tile-partial .user-tile.alert-warning img {
	border-color: #C09853;
}
.user-tile-partial .user-tile.alert-error img {
	border-color: #EED3D7;
}

.user-tile-partial .user-tile .user-blurb {
	font-style: italic;
}
