<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/authboxes/loginbox.css'
			],
			scripts: []
		}) %>
</head>
<body>
	<div class="loginbox-partial">
		<div class="loginbox-partial-inner alert alert-info">
			<legend>Login to <%= process.env.APP_NAME %></legend>

			<div class="fb-login color-black">
				<span><a href="/auth/login/facebook"><img class="inline-logo" src="/public/images/facebook/f_logo.png">Login with Facebook</a></span>
				<span class="pull-right">(<a href="#">What's this?</a>)</span>
				<%/* <!-- TODO make this "what's this" work --> */%>
			</div>

			<%- partial('partials/gf-validate-init.ejs', {
					selector: parent + " .loginbox-partial form.gf-login"
				}) %>
			<form class="gf-login" method="post" action="/">
				<fieldset>
					<label class="control-label">Or enter your username and password</label>
					
					<!-- username -->
					<div class="control-group">
						<div class="controls">
							<div class="gf-validate-input-container">
								<input name="username" class="input-field input-xlarge" type="text" placeholder="username">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>
						</div>
					</div>

					<!-- password -->
					<div class="control-group">
						<div class="controls">
							<div class="gf-validate-input-container">
								<input name="password" class="input-field input-xlarge" type="password" placeholder="password">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>					
						</div>
					</div>

					<!-- error block -->
					<div class="alert alert-error gf-validate-generic-error hidden"></div>		
	
					<!-- submit -->
					<div class="control-group">
						<input class="login-button btn btn-primary" type="submit" value="Login">
						<a class="pull-right" href="/register">Create an account</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>

