<!DOCTYPE html>
<%/*
	Expects variables:
		parent: the parent selector of the element holding this partial
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/authboxes/loginbox.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/lib/bootstrap/js/bootstrap.min.js',
				'/public/authboxes/loginbox.js'
			]
		}) %>
</head>
<body>
	<div class="loginbox-partial">
		<div class="loginbox-partial-inner alert alert-info">
			<%- partial('partials/gf-validate-init.ejs', {
					selector: parent + " .loginbox-partial form.gf-login"
				}) %>
			<form class="gf-login" method="post" action="/">
				<fieldset>
					<legend>Login to <%= process.env.APP_NAME %></legend>
					<br>
	
					<!-- username -->
					<div class="control-group">
						<div class="controls">
							<div class="gf-validate-input-container">
								<label class="input-label help-inline">Username</label>
								<input name="username" class="input-field input-xlarge" type="text" placeholder="username" autofocus="autofocus">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>
						</div>
					</div>

					<!-- password -->
					<div class="control-group">
						<div class="controls">
							<div class="gf-validate-input-container">
								<label class="input-label help-inline">Password</label>
								<input name="password" class="input-field input-xlarge" type="password" placeholder="password">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>					
						</div>
					</div>

					<!-- error block -->
					<div class="alert alert-error gf-validate-generic-error hidden"></div>		
	
					<!-- submit -->
					<div class="control-group">
						<input class="login-button btn btn-primary span4" type="submit" value="Login">
						<a class="pull-right" href="/register">Create an account</a>
					</div>
				</fieldset>
			</form>

			<div class="fb-login color-black">
				<span><a href="/auth/login/facebook"><img class="inline-logo" src="/public/images/facebook/f_logo.png">Login with Facebook</a></span>
				<span class="pull-right">
					(<a class="whats-this"
						data-content="Once you have registered for <%= process.env.APP_NAME %>,
									  you can link your Facebook account in Account Settings
									  and log in with your Facebook username and password"
						title="Login with Facebook"
						href="#"
						rel="popover">What's this?</a>)
				</span>
			</div>
		</div>
	</div>
</body>
</html>

