.post-tile-partial {
	padding: 4px;
	margin-bottom: 4px;
}

.post-tile-partial:nth-child(2n) {
	background-color: #EEEEEE;
}
.post-tile-partial.system {
	background-color: #0088CC;
	color: white;
}

.post-tile-partial .column {
	height: 100%;
}

.post-tile-partial .poster-column {
	border-right: solid 1px #CCCCCC;
	padding-right: 8px;
}

.post-tile-partial .poster img {
	border: solid 1px #222222;
	margin: 4px;
	vertical-align: text-top;
}

.post-tile-partial .poster {
	font-weight: bold;
}
