body {
	padding-top: 52px;
}

.topbar-partial .dropdown-toggle {
	padding: 0px !important;
	height: 40px;
	margin-right: -20px;
}

.topbar-partial .dropdown-toggle .user-picture {
	height: 28px;
	width: 28px;				/* TODO figure out how to make this work in IE */
	border: solid 1px #BFBFBF;
	vertical-align: middle;
	margin-left: 4px;
	margin-bottom: 4px;
	margin-top: 2px;
}
.topbar-partial .dropdown-toggle:hover .user-picture {
	border-color: #CFCFCF;
}

.topbar-partial .dropdown-toggle .user-name {
	max-width: 240px;
	line-height: 40px;
}

.topbar-partial .dropdown-toggle .caret {
	vertical-align: text-top;
	margin-right: 20px;
}

.topbar-partial i {
	margin-left: 2px;
}
