body {
	padding-top: 52px;
}

.topbar-partial .profile-picture {
	height: 28px;
	margin-top: 5px;
	border: solid 1px #BFBFBF;
}

.topbar-partial .user-name {
	max-width: 240px;
}

.topbar-partial .notification-num {
	font-size: 12px;
	padding: 2px 6px;
}
