.group-invitation-tile-partial .actions .action {
	display: inline;
}

.group-invitation-tile-partial .group-invitation-tile {
	margin-bottom: 8px;
}

.group-invitation-tile-partial .group-invitation-info .group-description {
	font-style: italic;
}

.group-invitation-tile-partial .black-text {
	color: #222222;
}
